*, *:before, *:after {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', helvetica, sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height:1.5em;
}

h1, h2, h3, h4, h5, h6, a {
  font-family: 'Orbitron', arial, sans-serif;
  font-weight: 700;
}

a:hover, a:link, a:visited {
  text-decoration: none;
  color: #fff;
}

#heroSection {
  background-image: url("../img/IMG_0135.PNG");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size:cover;
  height: 100vh;
  color: #fff;
  /*filter: saturate(.5);*/
  text-align: center;
}

.heroText {
padding-top:40vh;
line-height:5em;
}

.heroHeading {
  margin: 0;
  font-size:3em;
}

.heroSubheading {
  font-size:1.5em;
}

.tellMeMore {
  background-color: #E04006;
  padding: 1.5em 4em;
  border-radius: 3em;
  color: #fff;
}

nav {
    z-index: 9999;
    // opacity: 0.5;
    border-radius: 0 !important;
}

.heroBg {
    background: url("/img/ws_Guild_Wars_2_Concept_Art_1920x1200.jpg") no-repeat center center;
    width: auto;
    height: 100vh;
    /* same height as jumbotron*/
}

.navbar-default {
  margin: 0;
  background-color:#F99F1A;
  border: none;
  color: #fff;
}

.navbar-default, .navbar-nav>li>a {
  color: #fff !important;
}

.navbar-default, .navbar-brand, .navbar-transparent {
  color: #fff !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #fff;
}

.icon-bar {
  background-color: #fff;
}

.textSection {
  padding: 10vh 10em;
}

#heroSection {
  padding: 0;
}

section {
  min-height: 50vh;
  padding: 10vh 0;
}

#aboutUs {
  background-color: #E04006;
  color: #fff;
}

.facultyImage {
  border-radius: 50%;
}

footer {
    position: relative;
    color: white;
    background-color: #3f3f3f;
    height: 400px;
    width: 100%;
}

footer ul {
    margin: 1em 0;
}

footer li {
    list-style: none;
    display: inline-block;
    margin: 0 .5em;
}

footer a {
    font-size: 2em;
    color: #fff;
    text-decoration: none;
}

#copyright {
    position: absolute;
    text-align: center;
    bottom: 0;
}

.span12 {
  text-align: center;
}

@media (max-width: 768px) {
  body {
    font-size: 14px;
  }
  .textSection {
    padding: 10vh 2em;
  }
  .heroSubheading {
    line-height: 2em;
  }
  section {
    min-height: 0;
  }
  .heroText{
    padding-top: 25vh;
  }
}
